In [1]:
from syncode import Syncode

import warnings
warnings.filterwarnings('ignore')

model_name = "microsoft/phi-2"

# Load the unconstrained original model
llm = Syncode(model = model_name, mode='original', max_new_tokens=100)

# Load the Syncode augmented model
syn_llm = Syncode(model = model_name, mode='grammar_mask', grammar='sql', parse_output_only=True)

/home/shubham/anaconda3/envs/codex/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Loading checkpoint shards: 100%|██████████| 2/2 [00:00<00:00,  3.99it/s]
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.
Loading checkpoint shards: 100%|██████████| 2/2 [00:00<00:00,  3.96it/s]
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

Loading Lark base parser from cache: cache/parsers/sql_lalr_77437056666703615979231638093778362984559096718650419240006652507692716198645_parser.pkl

In [8]:
prompt = "Give me the SQL query to select the name of the employee with the highest salary from the employee table. Given that the employee table has the following columns: name, salary.\n"
output = llm.infer(prompt)[0]
print(f"LLM output:\n{output}\n")

LLM output:
ANSWER: SELECT name FROM employee ORDER BY salary DESC LIMIT 1;

The standard LLM answer also includes a text part `ANSWER: `. This text could be different everytime and hence it is difficult to extract the answer from the text.

In [9]:
output = syn_llm.infer(prompt)[0]
print(f"Syncode augmented LLM output:\n{output}")

Syncode augmented LLM output:

SELECT name FROM employee
ORDER BY salary DESC
LIMIT 1

Using SynCode solves this problem and the output is purely the SQL query!